
/*  #90AFC5
    #336B87
    #2A3132
    #763626
*/
body {
    font-family: "Roboto", sans-serif;
    margin-left: auto;
    margin-right: auto;
    
    width: 1000px;
}


.header {
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    background-color: #90AFC5;
    font-size: 28px;
    color: #763626;
}

a {
    text-decoration: none;  
}

.logo {
    justify-self: start;
    font-weight: 900;
}

.right-links {
    margin-left: auto;
    font-weight: 700;
    font-size: 20px;
}

.link-header {
    color: #763626;
    margin-left: 30px;
}

.section1 {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #90AFC5;
    color: #2A3132;
    justify-content: space-between;
    gap: 25px;
    
}

.section1-left {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.section1 img {
    flex: 1 1 auto;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
}

.section2 h2 {
    text-align: center;
}

.section2-pictures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 25px;
    padding: 15px;
    flex: 1;
    
}

.section2-picture-and-text {
    display:flex;
    flex-direction: column;
    flex: 1;
    border: 3px solid #763626;

}

